.config/nitrogen
.config/neofetch
.config/pavucontrol.ini
.config/pulse
.config/systemd
.config/vlc
.config/1Password/
.config/BraveSoftware/
.config/chromium/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/microsoft-edge-dev/
.config/vivaldi-snapshot/
.config/vivaldi/
.config/dconf/
.config/audacity/
.config/gtk-2.0/
.config/Slack/
.config/pypoetry/
.config/.mozilla/
.config/Microsoft/
.config/autostart/
.config/bolt-launcher/
.config/bruno/
.config/configstore/
.config/discord/
.config/htop/
.config/go/
.config/mimeapps.list
.config/op/
.config/pgadmin4/
.config/teams/
.config/BambuStudio/
.config/Code - OSS/
.config/CurseForge/
.config/QtProject.conf
.config/RedisInsight/
.config/beekeeper-studio/
.config/fish/conf.d/fish_frozen_key_bindings.fish
.config/fish/conf.d/fish_frozen_theme.fish
.config/fish/functions/cleanUpCRDS.fish
.config/grove/
.config/flutter/
.config/gh/
.config/git/
.config/helm/
.config/k9s/
.config/nextjs-nodejs/
.config/ngrok/
.config/ow-electron/
.codex/skills/.system/
